:root {
    font-size: 16px;
    --head-gap: 30px;
    --main-color: #0d9488;
    --secondary-color: #ccfbf1;
    --box-radius: 10px;
    --small-pic-size: 50px;
    --light-font-color: rgb(108, 106, 106);
    --shadow: 0px 10px 5px -5px gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    display: grid;
    grid-template-areas:
        "side head"
        "side main";
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 3fr 18fr;
}

.sidepod {
    grid-area: side;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--main-color);
}

.links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
    padding: 10px;
}

.sidepod a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: .5rem;
    color: white;
    font-size: 1.8rem;
}

.header {
    grid-area: head;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    padding: 0px 60px 20px;
    box-shadow: var(--shadow);
    z-index: 1;
}

.t-left {
    display: flex;
    align-items: center;
    gap: var(--head-gap);
}

[type="search"] {
    width: 90%;
    height: 2rem;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    padding: 0 5px;
    background-color: #00ffea;
}


.t-right {
    display: flex;
    align-items: center;
    gap: var(--head-gap);
    justify-content: flex-end;
}

.username-small{
    font-weight: bold;
}

.users-image-small,
.users-picture {
    width: var(--small-pic-size);
    height: var(--small-pic-size);
    border-radius: 50%;
}

.users-handle {
    font-size: 1.3rem;
    font-weight: bold;
}

.b-left {
    display: flex;
    align-items: center;
    gap: var(--head-gap);
}

.users-image-large {
    width: 65px;
    height: auto;
    border-radius: 50%;
}

.hello {
    font-size: .7rem;
}


.button-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--head-gap);
}

button {
    background-color: var(--main-color);
    color: white;
    width: 100px;
    height: 2rem;
    border: 0;
    border-radius: 25px;
}

button:hover {
    background-color: #084d47;
}

button:active {
    background-color: var(--main-color);
    border: 3px solid black;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--secondary-color);
    padding: 20px 30px;
    gap: 25px;
}

.main>div>p,
.announce-grid>p,
.trend-grid>p {
    padding: 10px;
    font-size: 1.2rem;
}

.projects {
    grid-area: projects;
}

.projects-container {
    display: grid;
    height: calc(100% - 42.5px);
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-box {
    background-color: white;
    gap: 3px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    border-radius: var(--box-radius);
    box-shadow: var(--shadow);
    border-left: 10px solid var(--main-color);
}

.project-heading {
    padding-bottom: 5px;
}

.project-description {
    color: var(--light-font-color);
    font-size: 0.9rem;
    flex-grow: 1;
}

.icon-box {
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    gap: 15px;
}

.a-container,
.trending-container {
    background-color: white;
    box-shadow: var(--shadow);
}

.news {
    padding: 20px 0px;
}

.news:nth-child(-n+2) {
    border-bottom: 1px solid var(--main-color);
}

.a-header {
    padding-bottom: 5px;
}

.a-content {
    font-size: .8rem;
    color: var(--light-font-color);
}

.announce-grid,
.trend-grid {
    border-radius: var(--box-radius);
    display: flex;
    flex-direction: column;
}

.announce-grid{
    grid-area: announcements;
}

.trend-grid {
    grid-area: trending;
}

.a-container, .trending-container {
    flex-grow: 1;
    padding: 10px 20px;
    gap: 5px;
    border-radius: var(--box-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.other-users {
    display: flex;
    gap: 15px;
    align-items: center;
}

.users-post {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tag {
    font-size: 90%;
}

.subject {
    font-size: 100%;
    color: var(--light-font-color);
}